.leagueList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2rem;
  margin-top: 1rem;
  .leagueItem {
    border: 1px solid salmon;
    min-width: 10rem;
    padding: 1rem;
  }
}

.link {
  text-decoration: underline;
  color: lightblue;
}
